.content{
    width: 900px;
    margin: 0 auto;
    border: 2px solid black;
    overflow: hidden;
}
.header{
    height: 200px;
}
h1{
    padding-left: 5%;
}
.col-100{
    width: 100%;
}
.col-50{
    width: 50%;
    float:left;
}
label {
    display: block;
}
input[type=text]{
    width: 75%;
    height: 30px;
}
.select {
    background: url(https://cdn1.iconfinder.com/data/icons/outline-17/16/caret-down-128.png) no-repeat 96% 5px;
    background-size: 20px;
    height: 35px;
    overflow: hidden;
    width: 76.5%;
    border: 1px solid silver;
 }
.select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 110%;
 }
.form_item {
    display: block;
    height: 100px;
    padding-left: 10%;
}
.center{
    float: left;
    text-align: center;
    margin: 20px 0 50px;
}
.center input{
    display: block;
    text-align: left;
    margin: auto;
    padding: 5px 20px;
}

.message p{
    display: inline-block;
    padding: 10px 30px;    
}
.message p.error{
    border: 2px solid red;
    color: red;
}
.message p.success{
    border: 2px solid green;
    color: green;
}